html,
body {
    min-height: 100%;
}

body {
    font: 400 100%/1.6em 'Open Sans', 'Helvetica Neue', HelveticaNeue, 'Helvetica-Neue', Helvetica, sans-serif;
    background-color: #fff;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'lazygramophone_icon_set';
    src:url('../fonts/lazygramophone_icon_set.eot');
    src:url('../fonts/lazygramophone_icon_set.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lazygramophone_icon_set.woff') format('woff'),
    url('../fonts/lazygramophone_icon_set.ttf') format('truetype'),
    url('../fonts/lazygramophone_icon_set.svg#lazygramophone_icon_set') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h1 {
    font-family: 'Times New Roman, Helvetica, Garamond, sans-serif';
}

/** svg icons **/
.facebook,
.google-plus,
.twitter,
.youtube,
.carousel-left,
.carousel-right {
    font-family: 'lazygramophone_icon_set';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}



/** Layout **/
.center-positioned {
    margin: 0 auto;
    display: block;
}

.center-aligned {
    text-align: center;
}

.full-width {
    width: 98%;
    padding: 0 1%;
}

.limited-width {
    max-width: 60em;
}

.third-width {
    display: inline-block;
}

.separator,
.section-separator {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #5f5f5f;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .05);
    margin: 1.2em 2em;
}

.section-separator {
    display: none;
    margin: 1.2em 2em 1em;
}

#wrap {
    padding-top: .8em;
    background-color: #191715;
    background: -moz-linear-gradient(top,  #292929 0%, #191715 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292929), color-stop(100%,#191715));
    background: -webkit-linear-gradient(top,  #292929 0%,#191715 100%);
    background: -o-linear-gradient(top,  #292929 0%,#191715 100%);
    background: -ms-linear-gradient(top,  #292929 0%,#191715 100%);
    background: linear-gradient(to bottom,  #292929 0%,#191715 100%);
    min-width: 19.688em; /* 315px/16px = 19.688em */
}

.header {
    position: relative;
}

/** Main info, blurb, social links etc **/
.main-information {
    margin-bottom: 1.6em;
}

.source {
    display: block;
    margin-top: .4em;
}

.gutter-right {
    margin-right: 1.4em;
    word-wrap: break-word;
}

.massive-text {
    font-size: 2.2em;
}

.large-text {
    font-size: 1.8em;
    line-height: 1.4em;
    letter-spacing: .04em;
}

.big-text {
    font-size: 1.3em;
}

.medium-text {
    font-size: .9em;
}

.small-text {
    font-size: .8em;
}

.mini-text {
    font-size: .7em;
}

.quote {
    padding: 1em 0 0;
}

.highlight {
    color: #0076a5;
    font-weight: normal;
}

.light-text {
    color: #c1bebe;
}

.dark-text,
.dark-text:visited,
.dark-text:link {
    color: #575656;
}

.buy-book {
    font-weight: 900;
    font-size: 1.2em;
    width: 4.8em;
    margin-top: 2em;
    margin-bottom: .6em;
    border-radius: 4px;
    display: block;
    padding: 1.2em 3em;
    text-shadow: 1px 1px 1px #a66c00;
    border-width: 1px solid #ffa500;
    background-color: #ffa500;
    background: -moz-linear-gradient(top,  #ffa500 0%, #cc8500 79%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa500), color-stop(79%,#cc8500));
    background: -webkit-linear-gradient(top,  #ffa500 0%,#cc8500 79%);
    background: -o-linear-gradient(top,  #ffa500 0%,#cc8500 79%);
    background: -ms-linear-gradient(top,  #ffa500 0%,#cc8500 79%);
    background: linear-gradient(to bottom,  #ffa500 0%,#cc8500 79%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa500', endColorstr='#cc8500',GradientType=0 );
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,.2), inset 0px 0px 9px 1px rgba(255,255,255,.2);
}

/** Logo **/
.time-logo {
    text-indent: -9999px;
    display: none;
}

/** Clock **/
#clock {
    margin: 0 auto;
    display: block;
}

#clock p {
    color: #ff0001;
}




/** Carousel **/

.carousel-wrap {
    overflow: hidden;
    position: relative;
    margin: .2em auto 0;
    height: 860px;

}

.carousel-outer-wrap {
    margin: 1em 0;
}

.carousel-wrap .square {
    width: 290px;

}

.carousel-wrap .square img {
    width: 290px;
    height: auto;
}

.carousel-wrap .rectangle {
    width: 290px;
}

.carousel-wrap .rectangle img {
    width: 290px;
    height: auto;
}

/* throbber and error message */
.carousel-wrap .square .throbber,
.carousel-wrap .rectangle .throbber {
    width: 290px;
    height: 287px;
}

.carousel-wrap .throbber .loading-spinner {
    width: 40px;
    height: 40px;
    margin-top: 12em;
    padding: 0;
}

.carousel-wrap .error {
    background-color: #db602f;
    color: #fff;
    padding: .2em;
    border-radius: 4px;
    margin: 3em 1em;
    text-align: center;
    font-weight: 500;
}

.extract {
    color: #fff;
    padding: 0 .4em;
}

.extract-title {
    font-weight: bold;
    margin: 1em 0 .6em;
}

.extract-title em {
    display: block;
    font-weight: normal;
}

.extract-blurb {
    color: #fff;
}

.carousel-detail {
    position: absolute;
    width: 10000px;
    left: 0;
    top: 0;
    -webkit-transition: left 500ms ease-in-out;
    -moz-transition: left 500ms ease-in-out;
    -o-transition: left 500ms ease-in-out;
    -moz-transform: translate3d( 0, 0, 0 );
    -webkit-transform: translate3d( 0, 0, 0 );
    -o-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

.carousel-wrap li {
    opacity: 1;
    display: table-cell;
    vertical-align: top;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    -moz-transform: translate3d( 0, 0, 0 );
    -webkit-transform: translate3d( 0, 0, 0 );
    -o-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

.carousel-wrap li.hidden {
    opacity: 0.05;
}

.loading .throbber {

}

.carousel-detail li img {
    padding: .8em;
    background-color: #fff;
}

.carousel-detail .no-edge img {
    padding: 0;
}

.carousel-wrap .img-wrapper {
    position: relative;
    border: 2px solid transparent;
}

.carousel-wrap .img-title,
.carousel-wrap .img-illustrator {
    position: absolute;
    background-color: rgba(255, 255, 255, .92);
    color: #575656;
    font-weight: bold;
}

.carousel-wrap .img-title {
    padding: .8em .5em .2em 1em;
    top: 2px;
    left: 2px;
    font-size: 1em;
}

.carousel-wrap .img-illustrator {
    padding: .2em 1em .6em .5em;
    right: 2px;
    bottom: 9px;
    font-size: .8em;
}

.carousel-button,
.carousel-button:link,
.carousel-button:visited {
    z-index: 1;
    position: absolute;
    font-size: 3em;
    color: rgba(126, 126, 126, .4);
    text-decoration: none;
    padding: .6em;
    top: 12%;
}

.carousel-button:hover {
    color: #0076a5;
}

.carousel-wrap .carousel-left {
    margin-left: -.6em;
}

.carousel-left:before {
    content: '\f053';
}

.carousel-wrap .carousel-right {
    margin-right: -.6em;
}

.carousel-right:before {
    content: '\f054';
}




.picture-indicator {
    margin: 2em 0 .4em;
}

.picture-indicator li {
    width: .5em;
    height: .5em;
    border-radius: 20px;
    border: 1px solid rgba(193, 190, 190, .4);
    background-color: #191715;
    display: inline-block;
    margin: .1em;
}

.picture-indicator .active {
    background-color: #0076a5;
    border: 1px solid #0076a5;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}


/** artists section **/

.artists li {
    text-align: left;
    padding-left: .4em;
    min-width: 11em;
}

.artists .separator {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .05);
}

.artists a {
    display: block;
    overflow: hidden;
}

.artists span {
    background-image: url(../img/responsiveImages/artistsSprite.jpg);
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    border: 4px solid #fff;
}

.artists h2 {
    padding-bottom: 1em;
    display: inline-block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 9em;
    padding-left: .2em;
    font-size: 1.2em;
}



/** footer **/
.footer {
    background: #fff;
    height: 17em;
}

.inner-footer {
    padding: 2em 0 0;
    display: table;
}

.footer a:hover
.footer a:link,
.footer a:visited {
    background: #fff;
    color: #818181;
}

.copyright {
    margin: 0 auto;
}

.facebook {
    color: #3b5998;
}

.facebook:before {
    content: "\e000";
}

.twitter {
    color: #4099FF;
}

.twitter:before {
    content: "\e002";
}

.youtube {
    color: #cb322c;
}

.youtube:before {
    content: "\e003";
}

.facebook {
    color: #3b5998;
}

.facebook:before {
    content: "\e000";
}

.twitter:hover,
.youtube:hover,
.facebook:hover {
    color: #818181;
}

.lazygramophone {
    font-weight: bold;
}

.lazygramophone em {
    font-weight: normal;
}

.social-links {
	margin: 0 auto;
    padding: 3.4em 0;
	display: table;
}

.social-links li {
	text-align: center;
    display: inline-block;
    margin-right: 1em;
}

.social-links li a {
    display: block;
}

.social-links li a:hover {
    text-decoration: none;
}

.social-links em {
    font-size: .4em;
    font-size: .8rem;
    font-style: normal;
    padding-left: .2em;
    color: #818181;
    vertical-align: middle;
}




/** preload images **/
#preload-images {
    display: none;
}