/* 1280px/16px = 80em */
@media all and (max-width: 80em) {
    body {
        color: purple;
    }
}

/* 1200px/16px = 75em (used for medium image delivery) */
@media all and (max-width: 75em) {
    body {
        color: pink;
    }

    .carousel-wrap {
        height: 526px;
/*        width: 372px;*/
    }

    .carousel-outer-wrap {
/*        width: 452px*/
    }

    .carousel-wrap .square {
        width: 346px;
    }

    .carousel-wrap .square img {
        width: 346px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 291px;
    }

    .carousel-wrap .rectangle img {
        width: 291px;
        height: auto;
    }

}

/* 960px/16px = 60em */
@media all and (max-width: 60em) {
	body {
		color: green;
	}
}

/* 800px/16px = 50em (used for small image delivery)*/
@media all and (max-width: 50em) {
	body {
		color: yellow;
	}

    .carousel-wrap {
        height: 900px;
/*        width: 256px;*/
    }

    .carousel-outer-wrap {
/*        width: 336px*/
    }

    .carousel-wrap .square {
        width: 290px;
        height: auto;
    }

    .carousel-wrap .square img {
        width: 290px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 290px;
        height: auto;
    }

    .carousel-wrap .rectangle img {
        width: 290px;
        height: auto;
    }
}



/* 768px/16px = 48em */
@media all and (max-width: 48em) {
    body {
        color: orange;
    }
}

/* 592px/16px = 37em */
@media all and (max-width: 37em) {
    body {
        color: yellow;
    }
}

/* 528px/16px = 33em */
@media all and (min-width: 33em) {
    body {
        color: blue;
    }

    .inner-footer {
        display: table;
        margin-top: 1em;
    }
    .social-links {
        margin: 0 auto;
    }
    .social-links li {
        float: left;
        margin-right: 1.4em;
    }
}

/* 320px/16px = 20em */
@media all and (min-width: 20em) {
    body {
        color: #ff1493;
    }

    /*    #clock {
            padding: 0;
            margin: 0;
        }*/
}


/* Retina sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #time-logo,
    #you-tube,
    #fmp,
    #fmp:hover {
        background-image: url(../img/time_sprite_x2.png);
        /* Translate the x2 sprite dimensions back to 1x */
        background-size: 251px 83px;
    }
}