/* 320px/16px = 20em */
@media all and (min-width: 20em) {
    body {
        color: #ff1493;
    }

    .artists h2 {
        width: 12em;
    }
}

/* 380px/16px = 23.750em */
@media all and (min-width: 23.750em) {
    body {
        color: #b22222;
    }

    .carousel-wrap .carousel-left {
        margin-left: -1.2em;
    }

    .carousel-wrap .carousel-right {
        margin-right: -1.2em;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 12%;
    }

    .carousel-button,
    .carousel-button:link,
    .carousel-button:visited {
        color: rgba(255, 255, 255, .3)
    }

    .artists h2 {
        width: 16em;
    }
}


/* 528px/16px = 33em */
@media all and (min-width: 33em) {
    body {
        color: blue;
    }

    .buy-book {
        position: absolute;
        top: 78%;
        left: 13%;
        padding: 1.2em 2em;
    }
}

/* 592px/16px = 37em */
@media all and (min-width: 37em) {
    body {
        color: yellow;
    }

    .third-width {
        width: 33.333%;
        float: left;
    }

    #wrap .separator {
        display: none;
    }

    .picture-indicator {
        margin-top: 2.8em;
    }

    .quote {
        padding: 1.2em 0 1.4em;
    }

    .artists {
        display: table;
        text-align: center;
    }

    .artists li {
        display: inline-block;
        padding: 1em 0;
        text-align: center;
    }

    .artists h2 {
        display: block;
        width: 10em;
        margin: 0 auto;
    }
}

/* 768px/16px = 48em */
@media all and (min-width: 48em) {
    body {
        color: orange;
    }

}

/* 800px/16px = 50em (used for medium image delivery)*/
@media all and (min-width: 50em) {
	body {
		color: cadetblue;
	}

    .buy-book {
        left: 20%;
    }

    .carousel-wrap .square {
        width: 346px;
        height: auto;
    }

    .carousel-wrap .square img {
        width: 346px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 291px;
        height: auto;
    }

    .carousel-wrap .rectangle img {
        width: 291px;
        height: auto;
    }

}

/* 960px/16px = 60em */
@media all and (min-width: 60em) {
	body {
		color: green;
	}

    .buy-book {
        left: 25%;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 16%;
    }
}

/* 1200px/16px = 75em (used for large image delivery) */
@media all and (min-width: 75em) {
    body {
        color: pink;
    }

    .carousel-wrap {
        height: 980px;
    }

    .carousel-wrap .square {
        width: 498px;
    }

    .carousel-wrap .square img {
        width: 498px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 418px;
    }

    .carousel-wrap .rectangle img {
        width: 418px;
        height: auto;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 20%;
    }

}


/* 1280px/16px = 80em */
@media all and (min-width: 80em) {
    body {
        color: purple;
    }
}
