/* 320px/16px = 20em */
@media all and (min-width: 20em) {
/*    body {
        color: #ff1493;
    }*/

    #clock {
        padding-left: 1em;
    }
}

/* 380px/16px = 23.750em */
@media all and (min-width: 23.750em) {
/*    body {
        color: #b22222;
    }*/

    .carousel-wrap .carousel-left {
        margin-left: -1.2em;
    }

    .carousel-wrap .carousel-right {
        margin-right: -1.2em;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 12%;
    }

    .carousel-button,
    .carousel-button:link,
    .carousel-button:visited {
        color: rgba(255, 255, 255, .3)
    }

    .carousel-button:hover {
        color: #0076a5;
    }

    .artist-name {
        width: 12em;
    }

    #clock {
        padding-left: 3em;
    }
}


/* 528px/16px = 33em */
@media all and (min-width: 33em) {
/*    body {
        color: blue;
    }*/

    .buy-book {
        position: absolute;
        top: 73%;
        left: 13%;
        padding: 1.2em 2em;
    }

    #clock {
        padding-left: 4.5em;
    }
}

/* 592px/16px = 37em */
@media all and (min-width: 37em) {

    html {
        font-size: 1.2em;
    }

/*    body {
        color: yellow;
    }*/

    .third-width {
        /*width: 33.333%;*/
        width: 50%;
        float: left;
    }

    #wrap .separator {
        display: none;
    }

    .quote {
        padding: 1.2em 0 1.4em;
    }

    .artists {
        display: table;
        text-align: center;
    }

    .artists li {
        display: inline-block;
        padding: 1em 0;
        text-align: center;
    }

    .artist-name {
        display: block;
        width: 10em;
        margin: 0 auto;
        font-size: .8em;
    }

    .buy-book {
        left: 18%;
    }

    .carousel-outer-wrap {
        margin: 3.2em 0 1.8em;
    }

    .quote {
        padding: 1.2em 0 1.4em;
    }

    .section-separator {
        display: block;
    }

    .footer {
        margin-top: 5em;
    }
}

/* 768px/16px = 48em */
@media all and (min-width: 48em) {
/*    body {
        color: orange;
    }*/

    .buy-book {
        left: 23%;
    }

}

/* 800px/16px = 50em (used for medium image delivery)*/
@media all and (min-width: 50em) {
/*	body {
		color: cadetblue;
	}*/

    .buy-book {
        left: 28%;
    }

    .carousel-wrap {
        height: 1030px;
    }

    .carousel-wrap .rectangle .throbber {
        width: 353px;
        height: 419px;
    }

    .carousel-wrap .square .throbber {
        width: 420px;
        height: 419px;
    }

    .carousel-wrap .square {
        width: 420px;
        height: auto;
    }

    .carousel-wrap .square img {
        width: 420px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 353px;
        height: auto;
    }

    .carousel-wrap .rectangle img {
        width: 353px;
        height: auto;
    }
}

/* 960px/16px = 60em */
@media all and (min-width: 60em) {
/*	body {
		color: green;
	}*/

    .buy-book {
        left: 33%;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 16%;
    }
}

/* 1200px/16px = 75em (used for large image delivery) */
@media all and (min-width: 75em) {
/*    body {
        color: pink;
    }*/

    .carousel-wrap {
        height: 1070px;
    }

    .carousel-wrap .rectangle .throbber {
        width: 418px;
        height: 496px;
    }

    .carousel-wrap .square .throbber {
        width: 498px;
        height: 496px;
    }

    .carousel-wrap .square {
        width: 498px;
    }

    .carousel-wrap .square img {
        width: 498px;
        height: auto;
    }

    .carousel-wrap .rectangle {
        width: 418px;
    }

    .carousel-wrap .rectangle img {
        width: 418px;
        height: auto;
    }

    .carousel-wrap .carousel-right,
    .carousel-wrap .carousel-left {
        top: 20%;
    }

    .artists li {
        min-width: 10em;
    }

}