#AuthName "Time prototype"
#AuthType basic
#AuthUserFile /home/apache/vhosts/www.lazygramophone.com/.htpasswd
#Require valid-user

RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} -s [OR] # The request is a regular file with size > 0
#RewriteCond %{REQUEST_FILENAME} -l [OR] # The request is to a file that is a symlink
#RewriteCond %{REQUEST_FILENAME} -d [OR] # The request is to a directory that exists

# if any of the above conditions are true, then simply handle the request as-is
#RewriteRule ^.*$ - [NC,L]

#redirect carousel images to appropriate folder
#no cookie set default to small folder
RewriteCond %{REQUEST_URI} ^/assets/img/responsiveImages/
RewriteCond %{REQUEST_URI} !^/assets/img/responsiveImages/(?:large|medium|small)(?:.*)?$
RewriteCond %{HTTP_COOKIE} !^.*viewportsize.*$ [NC]
RewriteRule assets/img/responsiveImages/([^\.]+)(?:\.jpg)$ assets/img/responsiveImages/small/$1.jpg?cb=small [NC,L]

#cookie set use value
RewriteCond %{REQUEST_URI} ^/assets/img/responsiveImages/
RewriteCond %{REQUEST_URI} !^/assets/img/responsiveImages/(?:large|medium|small)(?:.*)?$
RewriteCond %{HTTP_COOKIE} viewportsize=(small|medium|large) [NC]
RewriteRule assets/img/responsiveImages/([^\.]+)(?:\.jpg)$ assets/img/responsiveImages/%1/$1.jpg?cb=%1 [NC,L]



#VARIOUS
DirectoryIndex index.php
Options -Indexes
Options +FollowSymlinks

# ETAGS
FileETag None

#MOD_EXPIRES and MOD_HEADERS
# Turn on Expires and set default to 10 years
ExpiresActive On
ExpiresDefault "access plus 10 years"

# Set up caching for 1 year (forever?)
<FilesMatch "\.(ico|png|html|css|js|php)$">
ExpiresDefault A29030400
Header append Cache-Control "public"
</FilesMatch>

# MOD_DEFLATE
#This would compress all files except images (gif, jpg, png, flv and swf), already compressed files (like zip and tar.gz) and PDF files which makes sense because you do not gain much by compressing these file types.
<ifmodule mod_deflate.c>
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI \.(?:png)$ \
    no-gzip dont-vary
</ifmodule>