.artists {
    margin-bottom: 1.4em;
    text-align: center;
}

.artist-detail {
    text-align: left;
    min-width: 9em;
    padding: .4em 0;
    border-radius: .4em;
}

.artist-detail:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgba(0, 0, 0, 0.1);
}

.artist-link {
    display: block;
}

.artist-link,
.artist-link:hover,
.artist-link:active,
.artist-link:link {
    text-decoration: none;
}

.artist-image {
    background-image: url(../img/responsiveImages/small/artistsSprite.jpg);
    width: 4.1em;
    height: 4.1em;
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    border: .1em solid #fff;
    border-radius: .4em;
}

.artist-name {
    padding-bottom: 1em;
    display: inline-block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 9em;
    padding-left: .2em;
    color: #fff;
    font-weight: normal;
    vertical-align: middle;
}