.book-previews {
    text-align: center;
}

.book-preview {
    text-align: initial;
    display: inline-block;
    vertical-align: top;
    margin: 0 .4em;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    margin: .2em auto 0;
    height: 860px;
}

.carousel {
    position: absolute;
    width: 10000px;
    left: 0;
    top: 0;
    -webkit-transition: left 500ms ease-in-out;
       -moz-transition: left 500ms ease-in-out;
         -o-transition: left 500ms ease-in-out;
            transition: left 500ms ease-in-out;
}

.carousel .book-preview {
    opacity: 1;
    display: table-cell;
    -webkit-transition: opacity 400ms ease-in-out;
       -moz-transition: opacity 400ms ease-in-out;
         -o-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.carousel .hidden {
    opacity: 0.06;
}


.image-wrapper {
    position: relative;
    border: 6px solid transparent;
}

.image-heading {
    position: absolute;
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .92 );
    color: #000;
    font-weight: bold;
}

.image-title {
    padding: .8em .5em .2em 1em;
    top: 2px;
    left: 2px;
}

.image-illustrator {
    padding: .2em 1em .6em .5em;
    right: 2px;
    bottom: 9px;
}

.image {
    padding: .6em;
    border-radius: .25em;
}

.extract {
    color: #fff;
    padding: 0 .4em;
}

.extract-title {
    font-weight: bold;
    margin: 1em 0 .6em;
}


.extract-title em h2 {
    display: inline;
}

.extract-blurb {
    color: #fff;
}

.extract-blurb .tab-left {
    padding-left: 2em;
}

.extract-blurb .top-margin {
    padding-top: 1em;
}

.extract-blurb .bottom-margin {
    padding-bottom: 1em;
}














.carousel-button,
.carousel-button:link,
.carousel-button:visited {
    z-index: 1;
    position: absolute;
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    padding: .6em;
    top: 12%;
}

.carousel-button:hover {
    color: #0076a5;
    color: rgba( 0, 118, 165, .8);
}

.carousel-button-left {
    margin-left: -.6em;
}

.carousel-button-right {
    margin-right: -.6em;
}







.picture-indicator {
    margin: 2em 0 .4em;
    text-align: center;
}

.picture-indicator li {
    width: .5em;
    height: .5em;
    border-radius: 20px;
    border: 1px solid #c1bebe;
    border: 1px solid rgba(193, 190, 190, .4);
    background-color: #191715;
    display: inline-block;
    margin: .1em;
}

.picture-indicator .active {
    background-color: #0076a5;
    border: 1px solid #0076a5;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.book-preview-square {
    width: 290px;
}

.book-preview-rectangle {
    width: 290px;
}































.img-artist {

}

.bryn-hall {
    background: #fff url( '../img/responsiveImages/small/brynHall.jpg' ) no-repeat center center;
    width: 290px;
    height: 371px;
}

.lee-holland {
    background: #fff url( '../img/responsiveImages/small/leeHolland.jpg' ) no-repeat center center;
    width: 290px;
    height: 427px;
}

.time-book-illustrations {
    background: #fff url( '../img/responsiveImages/small/timeBookIllustrations.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.claud-forsbrey {
    background: #fff url( '../img/responsiveImages/small/claudForsbrey.jpg' ) no-repeat center center;
    width: 290px;
    height: 440px;
}

.carl-laurance {
    background: #fff url( '../img/responsiveImages/small/carlLaurance.jpg' ) no-repeat center center;
    width: 290px;
    height: 185px;
}

.rima-staines {
    background: #fff url( '../img/responsiveImages/small/rimaStaines.jpg' ) no-repeat center center;
    width: 290px;
    height: 479px;
}

.time-book-text {
    background: #fff url( '../img/responsiveImages/small/timeBookText.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.andrew-walter {
    background: #fff url( '../img/responsiveImages/small/andrewWalter.jpg' ) no-repeat center center;
    width: 290px;
    height: 397px;
}

.time-cover {
    background: #fff url( '../img/responsiveImages/small/timeCover.jpg' ) no-repeat center center;
    width: 290px;
    height: 287px;
}

.jeannie-paske {
    background: #fff url( '../img/responsiveImages/small/jeanniePaske.jpg' ) no-repeat center center;
    width: 290px;
    height: 436px;
}

.tom-harris {
    background: #fff url( '../img/responsiveImages/small/tomHarris.jpg' ) no-repeat center center;
    width: 290px;
    height: 347px;
}

.time-book-first-page {
    background: #fff url( '../img/responsiveImages/small/timeBookFirstPage.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.rima-staines-gospel {
    background: #fff url( '../img/responsiveImages/small/rimaStainesGospel.jpg' ) no-repeat center center;
    width: 290px;
    height: 478px;
}

.time-diagram {
    background: #fff url( '../img/responsiveImages/small/timeDiagram.jpg' ) no-repeat center center;
    width: 290px;
    height: 439px;
}

.time-book-printing {
    background: #fff url( '../img/responsiveImages/small/timeBookPrinting.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.kaitlin-beckett {
    background: #fff url( '../img/responsiveImages/small/kaitlinBeckett.jpg' ) no-repeat center center;
    width: 290px;
    height: 437px;
}

.tim-greaves {
    background: #fff url( '../img/responsiveImages/small/timGreaves.jpg' ) no-repeat center center;
    width: 290px;
    height: 289px;
}

.rima-staines-circus {
    background: #fff url( '../img/responsiveImages/small/rimaStainesCircus.jpg' ) no-repeat center center;
    width: 290px;
    height: 483px;
}


