
/**************************************
Static Carousel
**************************************/

.book-previews {
    text-align: center;
}

.book-preview {
    text-align: initial;
    display: inline-block;
    vertical-align: top;
    margin: 0 .4em 2em;
    border: .625em solid #191715;
}

.carousel .book-preview {
    margin-bottom: 0;
}


/**************************************
Carousel
**************************************/

.carousel-container {
    overflow: hidden;
    position: relative;
    margin: .2em auto 0;
    height: 39em;
}

.carousel {
    position: absolute;
    width: 62.500em;
    left: 0;
    top: 0;
    -webkit-transition: left 500ms ease-in-out;
       -moz-transition: left 500ms ease-in-out;
         -o-transition: left 500ms ease-in-out;
            transition: left 500ms ease-in-out;
}

.carousel .book-preview {
    opacity: 1;
    display: table-cell;
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
    -webkit-transform: translatez(0);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);
}

.carousel .hidden {
    opacity: 0.04;
}


/**************************************
Image Detail
**************************************/

.image-container {
    position: relative;
}

/*.carousel .image-container {
    margin: 0 1em;
}*/

.image {
    border-radius: .4em;
}




/**************************************
Extract Detail
**************************************/

.extract {
    color: #fff;
/*    padding: 0 .4em;*/
}

.extract-blurb {
    color: #fff;
}

.extract-blurb .tab-left {
    padding-left: 2em;
}

.extract-blurb .top-margin {
    padding-top: 1em;
}

.extract-blurb .bottom-margin {
    padding-bottom: 1em;
}


/**************************************
Carousel Buttons
**************************************/

.carousel-button,
.carousel-button:link,
.carousel-button:visited {
    text-decoration: none;
}

.carousel-button {
    display: none;
    z-index: 1;
    position: absolute;
    font-size: 3em;
    color: #0076a5;
    padding: .6em;
    top: 26%;
}

.carousel-button:hover {
    color: #fff;
}

.carousel-button-left {
    margin-left: -.6em;
}

.carousel-button-right {
    margin-right: -.6em;
}


/**************************************
Picture Indicator
**************************************/

.picture-indicator-container {
    margin: 1em 0;
    text-align: center;
}

.picture-indicator {
    width: .6em;
    height: .6em;
    border-radius: 1.250em;
    background-color: #212121;
    display: inline-block;
    margin: .1em;
    cursor: pointer;
}

.picture-indicator:hover {
    background-color: #0076a5;
    background-color: rgba( 0, 118, 165, .6 );
}

.picture-indicator-container .active {
    background-color: #0076a5;
    -webkit-transition: background-color 400ms ease-in-out;
       -moz-transition: background-color 400ms ease-in-out;
         -o-transition: background-color 400ms ease-in-out;
            transition: background-color 400ms ease-in-out;
}

.extract,
.book-preview-square {
    width: 290px;
}

.book-preview-rectangle {
    width: 290px;
}


/**************************************
Artist Images
**************************************/

.bryn-hall {
    background: url( '../img/responsiveImages/small/brynHall.jpg' ) no-repeat center center;
    width: 290px;
    height: 371px;
}

.lee-holland {
    background: url( '../img/responsiveImages/small/leeHolland.jpg' ) no-repeat center center;
    width: 290px;
    height: 427px;
}

.time-book-illustrations {
    background: url( '../img/responsiveImages/small/timeBookIllustrations.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.claud-forsbrey {
    background: url( '../img/responsiveImages/small/claudForsbrey.jpg' ) no-repeat center center;
    width: 290px;
    height: 440px;
}

.carl-laurance {
    background: url( '../img/responsiveImages/small/carlLaurance.jpg' ) no-repeat center center;
    width: 290px;
    height: 185px;
}

.rima-staines {
    background: url( '../img/responsiveImages/small/rimaStaines.jpg' ) no-repeat center center;
    width: 290px;
    height: 479px;
}

.time-book-text {
    background: url( '../img/responsiveImages/small/timeBookText.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.andrew-walter {
    background: url( '../img/responsiveImages/small/andrewWalter.jpg' ) no-repeat center center;
    width: 290px;
    height: 397px;
}

.time-cover {
    background: url( '../img/responsiveImages/small/timeCover.jpg' ) no-repeat center center;
    width: 290px;
    height: 287px;
}

.jeannie-paske {
    background: url( '../img/responsiveImages/small/jeanniePaske.jpg' ) no-repeat center center;
    width: 290px;
    height: 436px;
}

.tom-harris {
    background: url( '../img/responsiveImages/small/tomHarris.jpg' ) no-repeat center center;
    width: 290px;
    height: 347px;
}

.time-book-first-page {
    background: url( '../img/responsiveImages/small/timeBookFirstPage.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.rima-staines-gospel {
    background: url( '../img/responsiveImages/small/rimaStainesGospel.jpg' ) no-repeat center center;
    width: 290px;
    height: 478px;
}

.time-diagram {
    background: url( '../img/responsiveImages/small/timeDiagram.jpg' ) no-repeat center center;
    width: 290px;
    height: 439px;
}

.time-book-printing {
    background: url( '../img/responsiveImages/small/timeBookPrinting.jpg' ) no-repeat center center;
    width: 290px;
    height: 290px;
}

.kaitlin-beckett {
    background: url( '../img/responsiveImages/small/kaitlinBeckett.jpg' ) no-repeat center center;
    width: 290px;
    height: 437px;
}

.tim-greaves {
    background: url( '../img/responsiveImages/small/timGreaves.jpg' ) no-repeat center center;
    width: 290px;
    height: 289px;
}

.rima-staines-circus {
    background: url( '../img/responsiveImages/small/rimaStainesCircus.jpg' ) no-repeat center center;
    width: 290px;
    height: 483px;
}