.footer {
    background: #fff;
    height: 17em;
    color: #848484;
    padding: 1em;
}

.footer-body {
    padding-top: 1.4em;
    text-align: center;
}

.primary-link {
    text-align: left;
}

.link:hover,
.link:link,
.link:visited,
.link:hover .social-icon,
.link:hover .social-text {
    color: #848484;
    text-decoration: none;
}

.link {
    display: block;
}

.link-inline {
    display: inline-block;
}

.social-icon {
    padding-right: .2em;
    vertical-align: middle;
}

.social-links {
    padding: 2em 0;
}

.social-link {
	text-align: left;
    display: block;
    margin: 1em 0;
}

.facebook,
.facebook-text {
    color: #3b5998;
}

.twitter,
.twitter-text {
    color: #4099FF;
}

.youtube,
.youtube-text {
    color: #cb322c;
}