h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.book-quote {
    line-height: 1.2em;
    margin-bottom: 1em;
}

.sub-header {
    line-height: 1.3em;
}

.outside-viewport-text {
    text-indent: -9999px;
    display: none;
}

