.book-cta {
    border-radius: .25em;
    display: block;
    padding: 1em 2em;
    border: .063em solid #ff8400;
    background-color: #ff8400;
    text-align: center;
}

.book-cta:hover,
.book-cta:active,
.book-cta:link {

}

.highlight,
a.highlight {
    display: block;
    margin-top: .4em;
    color: #0076a5;
    font-style: italic;
}