.book-cta {
    border-radius: .25em;
    display: block;
    padding: 1em 2em;
    background-color: #ff8400;
    text-align: center;
    color: #fff;
    -webkit-transition: background-color 200ms ease-in-out;
       -moz-transition: background-color 200ms ease-in-out;
         -o-transition: background-color 200ms ease-in-out;
            transition: background-color 200ms ease-in-out;
}

.book-cta:hover,
.book-cta:active,
.book-cta:focus {
    background-color: #ff9c33;
}

.highlight,
.highlight-link:link,
.highlight-link:visited,
.highlight-link:hover,
.highlight-link:active {
    color: #0076a5;
}

.highlight {
    margin-top: .4em;
}