html,
body {
    min-height: 100%;
}

body {
    font: 400 100%/1.6em 'Open Sans', 'Helvetica Neue', HelveticaNeue, 'Helvetica-Neue', Helvetica, sans-serif;
    background-color: #fff;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-background-clip: padding-box;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h1 {
    font-family: 'Times New Roman, Helvetica, Garamond, sans-serif';
}



.header {
    position: relative;
}

/** Main info, blurb, social links etc **/
.main-information {
    margin-bottom: 1.6em;
}

.source {
    display: block;
    margin-top: .4em;
}

.gutter-right {
    margin-right: 1.4em;
    word-wrap: break-word;
}



.quote {
    padding: 1.2em 0 0;
}

.feedback {
    margin: .8em;
}

.highlight {
    color: #0076a5 !important;
    font-weight: normal;
}

.light-text {
    color: #c1bebe;
}

.dark-text,
.dark-text:visited,
.dark-text:link {
    color: #575656;
}

.buy-book {
    margin: .6em .4em 0;
    border-radius: 3px;
    display: block;
    padding: 1em 3em;
    border-width: 1px solid #ffa500;
    background-color: #ffa500;
}

.buy-book:hover,
.buy-book:active,
.buy-book:link {

}

/** Logo **/
.time-logo {
    text-indent: -9999px;
    display: none;
}

/** Clock **/
#clock {
    margin: 0 auto;
    display: block;
}












/* no javascript */
.no-js ol li {
    margin-bottom: 2em;
}

.static-clock-wrapper {
    max-width: 540px;
    min-width: 300px;
}

.static-clock-wrapper img {
    width: 100%;
    height: auto;
}