.font-6pt {
	font-size: .375em;
}

.font-8pt {
	font-size: .5em;
}

.font-9pt {
	font-size: .563em;
}

.font-10pt {
	font-size: .625em;
}

.font-11pt {
	font-size: .688em;
}

.font-12pt {
	font-size: .75em;
}

.font-13pt {
	font-size: .813em;
}

.font-16pt {
	font-size: 1em;
}

.font-18pt {
	font-size: 1.125em;
}

.font-24pt {
	font-size: 1.5em;
}

.font-30pt {
	font-size: 1.875em;
}

.font-36pt {
	font-size: 2.25em;
}

.font-48pt {
	font-size: 3em;
}